.frheading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cornflowerblue;
    text-decoration: underline;
}
.frpara{
    font-family: cursive;
}
.frimg{
    height: 200px;
    width: 230px;
}
body{
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
ul.navi{
    list-style-type: none;
    margin-top: 2px;
    float: right;
    margin-top: 0px;
}
.navli{
    float: left;
    padding-left: 5px;
    padding: 20px;
}
a{
    text-decoration: none;
}
a:hover{
    color: red;
    border: 2px solid white;
    padding: 2px;
    text-decoration: underline;
}
.icon{
    font-size: 20px;
    margin-left: 10px;
    border: 1px ridge black;
    padding: 9px;
    border-radius: 50px;
    margin :10px 10px;
}
.intro{
    margin-left: 100px;
    margin-top: 50px;
}
#but{
    font-size: 20px;
    color: blue;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}
#but:hover{
    color: purple;
    text-shadow: 2px 1px black;
    text-decoration:underline ;
}
.img{
    height: 400px;
    margin-right: 120px;
}
#aboutme{
    margin-left: 30px;
}
.secondpage{
    margin-left: 100px;
}
.fr{
    border: 5px solid black;
    padding: 10px;
    padding-left: 5px;
}
#workingon{
    font-size: 30px;
    text-align: center;
}
.work{
    margin-left: 50px;
}
#workpg{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet;
}
.skill{
    list-style-type: none;
    text-align: center;
}
.liskill{
    text-align: center;
    font-family: cursive;
}
.sec1,.sec2,.sec3{
    border: 2px solid black;
    margin-right: 50px;
}
.con{
    margin-left: 30px;
}
#contact{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: crimson;
}
.con1{
    background-color: white;
    margin-left: 50px;
}